.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px
}

.LIST {
  flex-direction: column;
}

.GRID {
  .card {
    display: inline-flex;
    height: 300px;
}

.row {
    display: flex;
    gap: 30px;
}
}
