.menu {
  position: absolute;
  z-index: 10000;
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  min-width: 100%;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: var(--primary-color);
  cursor: pointer;
}
